<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>253894091046-s442e10212njabc7a3qcgqem2g9v4lun.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.253894091046-s442e10212njabc7a3qcgqem2g9v4lun</string>
	<key>API_KEY</key>
	<string>AIzaSyC6jGViWtoHuk3vHyVjUhrEc36jZQYhzec</string>
	<key>GCM_SENDER_ID</key>
	<string>253894091046</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.studioReservationApp</string>
	<key>PROJECT_ID</key>
	<string>studio-reservation-app</string>
	<key>STORAGE_BUCKET</key>
	<string>studio-reservation-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:253894091046:ios:d45bd44d0d9a2f13e161e7</string>
	<key>DATABASE_URL</key>
	<string>https://studio-reservation-app-default-rtdb.firebaseio.com</string>
</dict>
</plist>